@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F7FB;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: unset;
}

.header-container{
  z-index: 1000;
  position: fixed;
  height:80px;
  background-color: white;
  display:flex;
  align-items: center;
  width:100vw;
  justify-content: space-between;
}

.header-logo-container img{
  height:50px;
  margin-left: 20px;
}

.header-menu-container{
  display: flex;
}

.header-menu-item{
  margin-left: 40px;
  cursor: pointer;
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.header-button-container button{
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #ff5745;
  color:#fff;
  padding:9px 26.25px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.main-container{
  width:100vw;
  background-color: #F4F7FB;
  display: flex;
  justify-content: center;
}

.facility-container{
  
  padding-top: 150px;
  width: 100%;
  max-width: 1040px;
}

.facility-header{
  width: 100%;
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 2.8em;
  text-align: center;
  font-weight: bold;
}

.company-header{
  width: 100%;
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.facility-sub-header{
  width: 100%;
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
 
}
.company-sub-header{
  width: 100%;
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
 
}
.facility-sub-header div{
  width: 50vw;
  margin-top: 10px;
  text-align: center;
}
.company-sub-header div{
  width: 50vw;
  margin-top: 10px;
}

.facility-video-container{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.facility-video-container iframe{
  margin-top: 100px;
  width: 100%;
  max-width: 1040px;
  height:39vw;
}

.item-body{
  margin-top: 40px;
  max-width: 100%;
}

.item-text-container{
  background-color: #FBFBFD;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image-container{
  background-color: white;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.item-image-container img{
  width: 60%;
  height: 60%;
  margin: 20px;
}

.item-text-header{
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.item-text-description{
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  text-align: justify;
  text-justify: inter-word;
  margin-top: -35px;
}

.item-items-header{
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  margin-top: 0px;
  margin-top: -20px;
  font-weight: bold;
  margin-bottom: -40px;
}

.item-items-item{
  color: #333e63;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: -40px;
  font-size: 1.1em;
}

.between{
  margin-top: 60px;
  margin-bottom: -20px;
  font-size: 40px;
}

.item-items-item img{
  height: 24px;
  width: 24px;
  transform: translateY(5px);
  
}

.company-hero-bg{
  width: 80vw;
  /* position: absolute;
  top: 280px;
  left: 10vw; */
  margin-top: -100px;
}

.company-hero-bg img{
  width: 100%;
}

.header-burger-container{
  display: none;
}

.item-text-container div{
  padding: 20px;
  padding-bottom: 30px;
}

.footer-container{
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.9em;
  margin-top: 10px;
  background-color: #333e63;
  font-family: 'Poppins', sans-serif;
}

.map-container{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#map-canvas{
  width:40vw;
  height:40vw;
}

.contact-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-container div{
  text-align: left;
}

.contact-container div div{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.map-page{
  background-color: rgb(231, 241, 255);
}


@media only screen and (max-width: 600px) {
  .header-menu-container,.header-button-container{
    display: none;
  }
  .header-burger-container{
    display: block;
  }
  .header-burger-container img{
    width:25px;
    margin-right: 20px;
  }
  .facility-container{
    padding-top: 120px;
  }
  .facility-header{
    line-height: 110%;
  }
  .facility-sub-header div{
    width: 98vw;
    margin-top: 20px;
    text-align: center;
  }



  .item-image-container img{
    width:33%;
  }



  .item-text-container div{
    padding:14px;
    padding-bottom: 24px;
  }

  .item-text-description{
    margin-top: -30px;
  }

  .item-items-header{
    margin-top: -10px;
    margin-bottom: -30px;
  }
  
  .item-items-item{
    margin-bottom: -30px;
  }

  .facility-video-container{
    margin-top: -50px;
  }

  .facility-video-container iframe{
    width: 95vw;
    height: 54vw;
  }

  .between{
    margin-top: 40px;
    margin-bottom: -20px;
    font-size: 40px;
  }
  #map-canvas{
    height:100vw;
    width:100vw;
  }
  .contact-container div div{
    margin-left: 10px;
    margin-right: 10px;
  }
}
